@model Propmaster.Models.Property

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Property</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertySize" class="control-label"></label>
                <input asp-for="PropertySize" class="form-control" />
                <span asp-validation-for="PropertySize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyLocation" class="control-label"></label>
                <input asp-for="PropertyLocation" class="form-control" />
                <span asp-validation-for="PropertyLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyArea" class="control-label"></label>
                <input asp-for="PropertyArea" class="form-control" />
                <span asp-validation-for="PropertyArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyType" class="control-label"></label>
                <input asp-for="PropertyType" class="form-control" />
                <span asp-validation-for="PropertyType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Furnished" class="control-label"></label>
                <input asp-for="Furnished" class="form-control" />
                <span asp-validation-for="Furnished" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bedroom" class="control-label"></label>
                <input asp-for="Bedroom" class="form-control" />
                <span asp-validation-for="Bedroom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bathroom" class="control-label"></label>
                <input asp-for="Bathroom" class="form-control" />
                <span asp-validation-for="Bathroom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carpark" class="control-label"></label>
                <input asp-for="Carpark" class="form-control" />
                <span asp-validation-for="Carpark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoverUrl" class="control-label"></label>
                <input asp-for="CoverUrl" class="form-control" />
                <span asp-validation-for="CoverUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PicUrl" class="control-label"></label>
                <input asp-for="PicUrl" class="form-control" />
                <span asp-validation-for="PicUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyStatus" class="control-label"></label>
                <input asp-for="PropertyStatus" class="form-control" />
                <span asp-validation-for="PropertyStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
