@model Propmaster.Models.CreateListingModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/property_create.css" />
<h1>Create Property</h1>
<hr />
@if (ViewBag.msg != null)
{
    <script>alert("@ViewBag.msg");</script>
}
else
{

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PropertySize" class="control-label"></label>
                    <input asp-for="PropertySize" class="form-control" />
                    <span asp-validation-for="PropertySize" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PropertyLocation" class="control-label"></label>
                    <select asp-for="PropertyLocation" class="form-control dropdown-list" id="PropertyLocation">
                        <option selected disabled>Choose Location</option>
                        <option value="Kuala Lumpur">Kuala Lumpur</option>
                        <option value="Shah Alam">Shah Alam</option>
                        <option value="Petaling Jaya">Petaling Jaya</option>
                        <option value="Selayang">Selayang</option>
                        <option value="Ampang Jaya">Ampang Jaya</option>
                        <option value="Kajang">Kajang</option>
                        <option value="Klang">Klang</option>
                        <option value="Subang Jaya">Subang Jaya</option>
                        <option value="Johor Bahru">Johor Bahru</option>
                        <option value="Iskandar Puteri">Iskandar Puteri</option>
                        <option value="Pasir Gudang">Pasir Gudang</option>
                        <option value="Alor Setar">Alor Setar</option>
                        <option value="Malacca City">Malacca City</option>
                        <option value="Seremban">Seremban</option>
                        <option value="George Town">George Town</option>
                        <option value="Seberang Perai">Seberang Perai</option>
                        <option value="Ipoh">Ipoh</option>
                        <option value="Kota Kinabalu">Kota Kinabalu</option>
                        <option value="Kuching">Kuching</option>
                        <option value="Miri">Miri</option>
                        <option value="Kuala Terengganu">Kuala Terengganu</option>
                    </select>
                    <span asp-validation-for="PropertyLocation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PropertyType" class="control-label"></label>
                    <select asp-for="PropertyType" class="form-control" id="PropertyType">
                        <option value="Bungalow / Villa / Cluster houses">Bungalow / Villa / Cluster houses</option>
                        <option value="Single storey">Single storey</option>
                        <option value="One and a half storey">One and a half storey</option>
                        <option value="Double storey">Double storey</option>
                        <option value="Two and a half storey">Two and a half storey</option>
                        <option value="Triple storey">Triple storey</option>
                        <option value="Semi detached">Semi detached</option>
                        <option value="Townhouse">Townhouse</option>
                        <option value="Others">Others</option>
                    </select>
                    <span asp-validation-for="PropertyType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Furnished" class="control-label"></label>
                    <select asp-for="Furnished" class="form-control" id="Furnished">
                        <option value="Unfurnished">Unfurnished</option>
                        <option value="Partially Furnished">Partially Furnished</option>
                        <option value="Fully Furnished">Fully Furnished</option>
                    </select>
                    <span asp-validation-for="Furnished" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Bedroom" class="control-label"></label>
                    <input asp-for="Bedroom" class="form-control" />
                    <span asp-validation-for="Bedroom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Bathroom" class="control-label"></label>
                    <input asp-for="Bathroom" class="form-control" />
                    <span asp-validation-for="Bathroom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Carpark" class="control-label"></label>
                    <input asp-for="Carpark" class="form-control" />
                    <span asp-validation-for="Carpark" class="text-danger"></span>
                </div>
                <div style="padding: 10px">
                    <div class="card">
                        <div class="card-header">
                            Media/Photo
                        </div>
                        <div class="field" align="left" style="padding: 20px;">
                            <h3 style="padding-bottom: 10px;">Upload your images</h3>
                            <input style="padding-bottom: 10px;" asp-for="PicUrl" type="file" id="files" required multiple />
                        </div>
                        <style>
                            input[type="file"] {
                                display: block;
                            }

                            .imageThumb {
                                max-height: 75px;
                                border: 2px solid;
                                padding: 1px;
                                cursor: pointer;
                            }

                            .pip {
                                display: inline-block;
                                margin: 10px 10px 0 0;
                            }

                            .remove {
                                display: block;
                                background: #444;
                                border: 1px solid black;
                                color: white;
                                text-align: center;
                                cursor: pointer;
                            }

                                .remove:hover {
                                    background: white;
                                    color: black;
                                }
                        </style>
                        <script>
                            $(document).ready(function () {
                                if (window.File && window.FileList && window.FileReader) {
                                    $("#files").on("change", function (e) {
                                        var files = e.target.files,
                                            filesLength = files.length;
                                        for (var i = 0; i < filesLength; i++) {
                                            var f = files[i];
                                            var fileReader = new FileReader();
                                            fileReader.onload = function (e) {
                                                var file = e.target;
                                                $(
                                                    '<span class="pip">' +
                                                    '<img class="imageThumb" src="' +
                                                    e.target.result +
                                                    '" title="' +
                                                    file.name +
                                                    '"/>' +
                                                    '<br/><span class="remove">Remove image</span>' +
                                                    "</span>"
                                                ).insertAfter("#files");
                                                $(".remove").click(function () {
                                                    $(this).parent(".pip").remove();
                                                });
                                            };
                                            fileReader.readAsDataURL(f);
                                        }
                                    });
                                } else {
                                    alert("Your browser doesn't support to File API");
                                }
                            });
                        </script>
                    </div>
                </div>
                <input asp-for="PropertyStatus" class="form-control" type="hidden" />
                <input asp-for="DateCreated" class="form-control" type="hidden" />
                <input asp-for="CreatedBy" class="form-control" type="hidden" />
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

    <script>
        $('.dropdown-list').select2();
    </script>
}